body{

margin:0;

font-family:Arial;

background:#f4f6f9;

}


/* HEADER */

.header{

background:#d32f2f;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 30px;

}

.titulo{

font-size:24px;

font-weight:bold;

}

.menu button{

background:#1976d2;

border:none;

color:white;

padding:10px 18px;

border-radius:5px;

cursor:pointer;

}


/* LISTA */

#lista{

width:700px;

margin:40px auto;

}

.producto{

background:white;

padding:15px;

margin-bottom:10px;

border-radius:8px;

box-shadow:0 2px 6px rgba(0,0,0,0.2);

}

.producto input{

margin:5px;

padding:6px;

}

.producto button{

background:#2e7d32;

border:none;

color:white;

padding:6px 12px;

cursor:pointer;

border-radius:4px;

}